div.columns.message {
	margin-top: 5px;
	background-color: transparent;

	div.column {
		margin: 0px;

		&.date {
			padding: 0px;
			font-size: 8pt;
		}
	}

	&.sender {
		flex-direction: row-reverse;

		div.column {
			&.content {
				color: $grey-darken;
				background-color: #99FF99;
			}

			&.date {
				text-align: right;
			}
		}
	}

	&.receiver {
		div.column.content {
			color: $black-ter;
			background-color: $white-ter;
		}
	}
}